
body { 
background-color: rgb(233, 184, 216);
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color: cornsilk;
}

h1 { 
    text-align: center;
    color: rgb(198, 51, 130);
}

.dark-mode{
    background-color:  rgb(39, 33, 41); 
    color: rgb(244, 244, 244);
}






img {

    width: 45vw;
    margin-left: auto;
    margin-right: auto;
    display: block;
   
}



