* {
    margin: 0px;
    background-color: #182121;
}

header {
    background: #000000;
    padding: 15px 20px;
    display: flex;
    justify-content:space-between;
}

h3 {
    color: white;
    background: local;
}
img {
    width: auto;
    height: 260px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 10px;

}

p {
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 20px;
}

h1 {
    color: white;
    text-align: center;
    font-size: 50px;
}

main {
    display: flex;
    justify-content: center;   
}

button {
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
